body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(28, 99, 198);
    margin: 0;
}

.container{
    background-image: url("img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(28, 99, 198);
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 70px;
    border-style: none;
    border: solid 2px rgb(28, 99, 198);
    margin-top: 10px;

}

button:hover{
    color: rgba(0, 0, 0, 0.8);
    background-color: rgb(28, 99, 198);
}


.top{
    background-color: rgba(0,0,0,0.5);
    height: 10vh;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0 20px;
}

#date{
    position:absolute;
    top:4vh;
    left: 50px;
    font-size: 20px;
    border: 2px solid rgb(28, 99, 198);
    padding: 5px;
    width: 120px;
    border-radius: 5px;

}

#clock{
    position:absolute;
    top:4vh;
    right: 50px;
    font-size: 20px;
    border: 2px solid rgb(28, 99, 198);
    padding: 5px;
    width: 120px;
    border-radius: 5px;

}

h1{
    margin: auto;
    margin-top: 2.8vh;
}

.main{
    display: flex;
    height: 90vh; 
    max-width: 98vw;
    margin: auto;
}

.widget{
    height: 80vh;
    background-color: rgba(0,0,0,0.4); 
    margin: 8px;
    padding: 5px;
    padding-top: 0px;
    width: 32%;
    min-width: 300px;
    text-align: center;
    border-radius: 10px;
}

.notepad{
    max-width: 30vw;
    font-size: 20px;
}

#note-area{
    font-size: 18px;
    max-width: 28vw;
    max-height: 58vh;
    min-height: 25vh;
    border-radius: 10px;
}

textarea{
    width: 100%; 
  height: 150px; 
  padding: 12px; 
  box-sizing: border-box; 
  border: 2px solid #ccc; 
  border-radius: 4px; 
  background-color: #f8f8f8; 
  font-size: 16px; 
  color: #000000; 
  resize: none;
}




